* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  font-size: 1.4rem;
  margin-top: 5px;
  font-weight: 300;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
  color: black;
}

.section_title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
}
.section_title span {
  color: crimson;
}
.cta {
  display: inline-block;
  padding: 10px 30px;
  color: crimson;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: crimson;
}
.brand h1 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}
.brand h1 span {
  color: crimson;
}

/* Header Section  */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(30, 29, 28, 0.24);
  transition: 0.3s ease background-color;
}
#header .nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav_list ul {
  list-style-type: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease;
}
#header .nav_list ul.active {
  left: 0%;
}
#header .nav_list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav_list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 10rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav_list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .nav_list ul li:hover a {
  color: crimson;
}

#header .hamburger {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border: 3px solid white;
  border-radius: 50%;
  animation: hamburger_plus 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  background-color: white;
  position: relative;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 6px;
}
#header .hamburger .bar::before {
  bottom: 6px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}
/* End Header Section  */

/* Hero Section  */
#hero {
  background: url(images/nubelson-fernandes-jKL2PvKN8Q0-unsplash.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5;
}
#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* End Hero Section  */

/* Services section  */
#services {
}
#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#services .service_top {
  max-width: 500px;
  margin: 0 auto;
}
#services .service_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#services .service_item {
  flex-basis: 80%;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-image: url(./images/blog-2.jpg);
  background-position: center center;
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#services .service_item::after {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(70deg, #29323c 0%, #485563 100%);
  opacity: 0.8;
  z-index: -1;
}
#services .service_bottom .icon {
  margin-bottom: 20px;
}
#services .service_bottom .icon i {
  object-fit: cover;
  text-align: center;
  font-size: 35px;
}
#services .service_bottom .service_item:nth-child(1) .icon {
  color: rgb(106, 106, 231);
}
#services .service_bottom .service_item:nth-child(2) .icon {
  color: rgb(94, 82, 199);
}
#services .service_bottom .service_item:nth-child(3) .icon {
  color: rgb(221, 8, 8);
}
#services .service_bottom .service_item:nth-child(4) .icon {
  color: rgb(248, 213, 12);
}
#services .service_item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  line-height: 1.9rem;
  text-transform: uppercase;
}
#services .service_item p {
  color: white;
  text-align: left;
}
/* End Services section  */

/* Projects Section  */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects_header h1 {
  margin-bottom: 50px;
}
#projects .all_projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .projects_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .projects_info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}
#projects .projects_info h1 {
  font-size: 4rem;
  font-weight: 500;
}
#projects .projects_info h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 10px;
}
#projects .projects_info p {
  color: white;
  margin-top: 12px;
}
#projects .projects_img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .projects_img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}
#projects .projects_img img {
  transition: 0.5s ease transform;
}
#projects .projects_item:hover .projects_img img {
  transform: scale(1.2);
}
/* End Projects Section  */

/* About Section  */

#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#about .col_left {
  width: 250px;
  height: 360px;
}
#about .col_right {
  width: 100%;
}
#about .col_right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
#about .col_right p {
  margin-bottom: 20px;
}
#about .col_right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}
#about .col_right .cta:hover {
  color: white;
}
#about .col_left .about_img {
  width: 100%;
  height: 100%;
  position: relative;
  border: 10px solid white;
}
#about .col_left .about_img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}
/* End About Section  */

/* Contact Section  */
#contact .contact {
  flex-direction: column;
  padding: 100px 0;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}
#contact .contact_items {
  width: 400px;
}
#contact .contact_item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#contact .contact_item:hover {
  box-shadow: 0 0 5px 0 #0000002c;
}
#contact .icon {
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .icon .fa-phone {
  font-size: 20px;
  color: #00fa;
}
#contact .icon .fa-google-plus-g {
  font-size: 20px;
  color: rgba(255, 0, 34, 0.667);
}
#contact .icon .fa-map-marker {
  font-size: 20px;
  color: rgb(9, 240, 143);
}
#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
#contact .contact-info h2 {
  font-size: 1.5rem;
  color: gray;
}

/* End Contact Section  */

/* Footer */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
#footer .social_item {
  width: 100%;
  height: 100%;
  margin: 0 5px;
}
#footer .social_icon .social_item a i {
  font-size: 30px;
  padding-top: 10px;
  filter: grayscale(0.5);
  transition: 0.3s ease filter;
}

#footer .social_item:nth-child(1) a i {
  color: rgb(43, 43, 214);
}
#footer .social_item:nth-child(2) a i {
  color: rgb(231, 68, 68);
}
#footer .social_item:nth-child(3) a i {
  color: rgb(48, 42, 165);
}
#footer .social_item:nth-child(4) a i {
  color: rgb(19, 157, 236);
}
#footer .social_icon .social_item:hover a i {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_plus {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: crimson;
  }
}
/* End Keyframes */

/* Media Query For Tablet  */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section_title {
    font-size: 6rem;
  }
  /* Hero */
  #hero h1 {
    font-size: 7rem;
  }
  /* End Hero */

  /* Services Section  */
  #services .service_bottom .service_item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* End Services Section  */

  /* Projects  */

  #projects .projects_item {
    flex-direction: row;
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .projects_item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .all_projects .projects_info {
    height: 100%;
  }
  #projects .all_projects .projects_img {
    height: 100%;
  }
  /* End Projects  */

  /* About  */
  #about .about {
    flex-direction: row;
  }
  #about .col_left {
    width: 600px;
    height: 600px;
    padding-left: 60px;
  }
  #about .col_left .about_img::after {
    content: "";
    left: -45px;
    top: 34px;
    width: 98%;
    height: 98%;
    border: 10px solid crimson;
  }
  #about .col_right {
    text-align: left;
    padding: 30px;
  }
  #about .col_right h1 {
    text-align: left;
  }
  /* End About  */

  /* Contact  */
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
  }
  #contact .contact_items {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;
  }
  #contact .contact_item {
    margin: 20px;
    flex-direction: row;
  }
  #contact .contact_item .icon {
    height: 40px;
    width: 40px;
  }
  #contact .contact_item .icon i {
    object-fit: contain;
  }
  #contact .contact_item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  /* End Contact  */
}
/* End Media Query For Tablet  */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* Header  */
  #header .hamburger {
    display: none;
  }
  #header .nav_list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav_list ul li {
    display: inline-block;
  }
  #header .nav_list ul li a {
    font-size: 1.8rem;
  }
  #header .nav_list ul a::after {
    display: none;
  }
  /* End Header  */

  #services .service_bottom .service_item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
/* End Media Query For Desktop */
